<ion-view view-title="Syarat dan Ketentuan">
  <ion-content>
    <div id="ketentuan">
      <ion-item>
        Ketentuan dan Syarat Penggunaan
      </ion-item>
      <ion-item class="item item-text-wrap">
PENGGUNA DIWAJIBKAN UNTUK MEMBACA KETENTUAN DAN SYARAT PENGGUNAAN DIBAWAH INI SEBELUM MENGGUNAKAN LAYANAN FASILITAS Kredit Tanpa Aguna (“KTA”) TIFA melalui sistem MENTIMUN. DENGAN MENGGUNAKAN LAYANAN FASILITAS KTA TIFA melalui sistem MENTIMUN BERARTI PENGGUNA MENERIMA DAN TUNDUK TERHADAP KETENTUAN DAN SYARAT YANG TERDAPAT DI BAWAH INI.
<br/>
<br/>
•	Pengguna dengan ini menyatakan bahwa pengguna adalah orang yang cakap dan mampu untuk mengikatkan dirinya dalam sebuah perjanjian yang sah menurut hukum.
<br/>

•	Pengguna dengan ini menyatakan bahwa benar Pengguna adalah Karyawan Perusahaan yang merupakan satu grup dengan PT Dwi Satrya Utama
<br/>

•	Pengguna bertanggung jawab secara pribadi untuk menjaga kerahasiaan akun dan password untuk semua aktivitas yang terjadi dalam akun Pengguna.
<br/>

•	Pengguna dengan ini menyatakan bahwa PT TIFA FINANCE Tbk  tidak bertanggung jawab atas kerugian atau kerusakan yang timbul dari penyalahgunaan akun Pengguna.
<br/>
<br/>


•	Pengguna memahami dan menyetujui bahwa Pengguna akan dikenanakan biaya notifkasi/pemberitahuan (jika ada) termasuk tetapi tidak terbatas pada notifikasi konfirmasi akun Pengguna, notifikasi persetujuan atau penolakan fasillitas KTA, notifikasi pembayaran harga pembelian (realisasi dana KTA) kepada Penyedia Jasa/barang.
<br/>
•	Sebelum melakukan klik “Konfirmasi Order”, pastikan Spesifikasi Barang /jasa dan Skema KTA yang dipilih sudah benar dan sesuai. Order yang telah disetujui oleh PT Tifa Finance Tbk melalui aplikasi MENTIMUN tidak dapat diubah dan bersifat tetap.
<br/>

•	PT Tifa Finance Tbk  memiliki kewenangan untuk menolak maupun menyetujui setiap aplikasi KTA TIFA yang diajukan oleh Pengguna tanpa harus /wajib memberikan alasan kepada Pengguna. Dan keputusan pemberian dan penolakan aplikasi KTA merupakan hak tunggal kewenangan PT Tifa Finance Tbk.
<br/>

•	Atas pertimbangan sendiri PT Tifa Finance Tbk memiliki kewenangan untuk melakukan penyesuaian jumlah dana /jumlah fasilitas yang diajukan oleh Pengguna.
<br/>
<br/>


•	Atas setiap aplikasi KTA yang disetujui oleh PT Tifa Finance Tbk, maka Pengguna wajib melengkapi dan menyerahkan kepada PT Tifa Finance Tbk dokumen sebagai berikut:
<br/>
-	Perjanjian Pembelian Dengan Pembayaran Secara Angsuran yang telah ditandatangani oleh Pengguna dan Pasangan (Suami/istri – jika ada) berikut lampiran dan formulir permohonan pembiayaan
<br/>
-	Kwitansi pelunasan yang telah ditandatangani oleh Penyedia Jasa, Perintah Transfer dana yang ditandatangani oleh Pengguna dan Penyedia Jasa 
<br/>
-	Surat Kuasa Potong Gaji dari Pengguna yang turut ditandatangani oleh Human Resource Departement (HRD) perusahaan dimana Pengguna bekerja.
<br/>
-	Copy Dokumen identitas pribadi dan pasangan seperti Kartu Tanda Penduduk (KTP) / Passport, Kartu Nomor Pokok Wajib Pajak, Kartu Keluarga/Surat Nikah. 
<br/>
<br/>

•	Atas setiap aplikasi KTA yang disetujui, PT Tifa Finance Tbk akan melakukan Pembayaran Harga Pembelian (realisasi dana KTA) secara tunai atau dengan mentransfer ke rekening yang ditunjuk oleh Pengguna.
<br/>

•	Atas permintaan dan persetujuan Pengguna, jumlah fasilitas yang disetujui akan dipotong langsung dengan kewajiban-kewajiban pembayaran yang harus dilakukan Pengguna kepada PT Tifa Finance Tbk  berdasarkan Perjanjian Pembelian Dengan Pembayaran Secara Angsuran seperti tetapi tidak terbatas pada biaya administrasi/provisi. 
<br/>

•	Apabila terjadi perselisihan antara Pengguna dengan pihak ketiga termasuk tetapi tidak terbatas pada penyedia jasa/barang maka dengan ini Pengguna melepaskan PT Tifa Finance Tbk (termasuk Induk Perusahaan, Direktur, dan karyawan) termasuk tetapi tidak terbatas pada kegagalan penyedia barang/jasa memenuhi kewajibannya, klaim dan tuntutan atas kerusakan, kegagalan dan kerugian (aktual dan tersirat) dari setiap jenis dan sifatnya , yang dikenal dan tidak dikenal, yang timbul dari atau dengan cara apapun berhubungan dengan sengketa tersebut. Dengan demikian maka Pengguna dengan sengaja melepaskan segala perlindungan hukum (yang terdapat dalam undang-undang atau peraturan hukum yang lain) yang akan membatasi cakupan ketentuan pelepasan ini.
<br/>




      </ion-item>
      <ion-item>
        <button class="button button-block" style="background-color:#00b0ff; color:white;" ng-click="setuju()">
          Setuju
        </button>
      </ion-item>
    </div>
  
  </ion-item>
  </ion-content>
</ion-view>
